openapi: 3.1.0
info:
  title: LogRocket GraphQL Data Export Highlights API
  description: The LogRocket GraphQL API allows developers to query session replay and analytics data using GraphQL. It provides a flexible query interface for retrieving session information, user activity, error details, and performance metrics. Developers can use this API to build custom dashboards, integrate session data into internal tools, and perform advanced filtering and aggregation of LogRocket monitoring data.
  version: '1.0'
  contact:
    name: LogRocket Support
    url: https://logrocket.com/support
  termsOfService: https://logrocket.com/terms
servers:
- url: https://api.logrocket.com
  description: LogRocket Production API
security:
- tokenAuth: []
tags:
- name: Highlights
  description: Access Galileo AI-generated session highlights and summaries.
paths:
  /orgs/{orgId}/apps/{appId}/highlights/:
    post:
      operationId: createHighlights
      summary: Request Galileo AI session highlights
      description: Initiates a request for Galileo AI to generate session highlights and summaries. You can specify a user by email or user ID, and optionally limit the time range. The response includes a request ID that can be used to poll for results. Optionally provide a webhook URL to receive results via POST when they are ready.
      tags:
      - Highlights
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/appId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HighlightsRequest'
      responses:
        '200':
          description: Highlights request accepted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HighlightsResponse'
        '400':
          description: Invalid request body or parameters.
        '401':
          description: Missing or invalid API key.
        '404':
          description: Organization or application not found.
    get:
      operationId: getHighlights
      summary: Retrieve Galileo AI session highlights
      description: Retrieves the status and results of a previously submitted highlights request. If highlights are still being generated, the result field will be null and the status will be PENDING. When complete, the result includes overall highlights across all sessions and per-session highlights with Markdown-formatted links to relevant session times.
      tags:
      - Highlights
      parameters:
      - $ref: '#/components/parameters/orgId'
      - $ref: '#/components/parameters/appId'
      - name: id
        in: query
        required: true
        description: The request ID returned from the POST highlights endpoint.
        schema:
          type: string
      responses:
        '200':
          description: Highlights result or pending status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HighlightsResponse'
        '401':
          description: Missing or invalid API key.
        '404':
          description: Highlights request not found.
components:
  schemas:
    HighlightsRequest:
      type: object
      description: Request body for generating Galileo AI session highlights.
      properties:
        userEmail:
          type: string
          format: email
          description: Email address of the user whose sessions to summarize. Up to 10 most recent sessions from the last 30 days will be included.
        userID:
          type: string
          description: User ID of the user whose sessions to summarize. Alternative to userEmail.
        timeRange:
          type: object
          description: Time range to limit the sessions included in the highlights.
          properties:
            startMs:
              type: integer
              format: int64
              description: Start of the time range as a Unix timestamp in milliseconds.
            endMs:
              type: integer
              format: int64
              description: End of the time range as a Unix timestamp in milliseconds.
        webhookURL:
          type: string
          format: uri
          description: URL to receive a POST request with the highlights results when they are ready. If not provided, poll the GET endpoint with the request ID.
    SessionHighlight:
      type: object
      description: Highlights for an individual session.
      properties:
        sessionId:
          type: string
          description: The unique identifier for the session.
        highlights:
          type: string
          description: Markdown-formatted highlights for this specific session, with links to relevant times.
    HighlightsResult:
      type: object
      description: The generated highlights across all matched sessions.
      properties:
        highlights:
          type: string
          description: Markdown-formatted summary across all sessions, with links to relevant times in the referenced sessions.
        sessions:
          type: array
          description: Individual session summaries.
          items:
            $ref: '#/components/schemas/SessionHighlight'
    HighlightsResponse:
      type: object
      description: Response containing Galileo AI highlights status and results.
      properties:
        requestID:
          type: string
          description: Unique identifier for the highlights request.
        appID:
          type: string
          description: The application ID associated with the request.
        status:
          type: string
          description: Current status of the highlights generation.
          enum:
          - PENDING
          - COMPLETE
          - FAILED
        result:
          description: The highlights result, or null if still pending.
          oneOf:
          - type: 'null'
          - $ref: '#/components/schemas/HighlightsResult'
  parameters:
    appId:
      name: appId
      in: path
      required: true
      description: The application or project identifier found in the LogRocket dashboard URL.
      schema:
        type: string
    orgId:
      name: orgId
      in: path
      required: true
      description: The organization identifier found in the LogRocket dashboard URL.
      schema:
        type: string
  securitySchemes:
    tokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API token authentication. Use the format "token <your-api-key>". API keys are available from the LogRocket dashboard under Settings > General Settings.
externalDocs:
  description: LogRocket GraphQL API Documentation
  url: https://docs.logrocket.com/reference/graphql-1
